.rs{
    /* background-color: #001030; */
    background-color: #222222;
    color: white;
    position: relative;
    /* height: 75vh; */
    height:100vh;
    overflow-y: scroll;
    /* display: none; */
    position: absolute;
    right: 0;
    z-index: 100;
    width: 25%;
    transition: 0.3s;
}
.hide{
    right: -50%;
}
.close-icon img{
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    transition: 0.3s;
}
.rs-profile img{
    width: 110px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.rs-profile{
    padding-top: 60px;
    text-align: center;
}
.rs-profile h3{
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}
.rs-profile p{
    font-size: 10px;
    opacity: 70%;
    margin: 0 25px;
}
hr{
    border-color: #ffffff58;
    margin: 20px 0;
}
.rs-media{
    padding: 0 20px;
}
.rs-media div{
    max-width: 210px;
    margin-top: 8px;
    overflow-y: scroll;
    display: grid;
    gap: 7px;
    max-height: 175px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.rs-media div img{
    width: 55px;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
}
.logout-btn button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 65px;
    border-radius: 20px;
    border: none;
    
    outline: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-weight: 500;
    background-color: #c7c7c7;
}
.dotted{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width : 1000px) {
    /* .rs{
        display: none;
    } */
    .hide{
    right: -50%;
}
.rs{
    width: 50%;
}
.rs-profile{
    margin-top: 40px;
}
.rs-profile img{
    width: 80px;
}
.logout-btn button{
    padding: 10px 40px;
    font-size: 10px;
    font-weight: 400;
    border-radius: 15px;
}

}